// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #ffffff;

// Colors
$font: #333;

// Type
$sleep_color: #ffe894;
$sleep_color_darker: #fddf72;
$eat_color: #b8deb6;
$eat_color_darker: #9ada96;
$care_color: #ffc9b1;
$care_color_darker: #ffa680;
$emergency_color: #B1DAFF;
$emergency_color_darker: #8dcaff;
$urgent_color: #4B4B4B;
$urgent_color_darker: #333333;

// Buttons
$btn_primary: #57c098;
$btn_primary_darker: #36926f;
$btn_secondary: rgb(36, 36, 36);
$btn_danger: #d34f4f;
$btn_danger_darker: #b73c3c;
$btn_urgent: #fd7dbd;
$btn_urgent_darker: #e94f9c;
