// Define variables for your color scheme

// For example:
$yellow: #e7a120;
$yellow-25: #FFC65A25;
$green: #149301;
$green-25: #18a40225;
$red: #FD1015;
$red-25: #fd101425;
$orange: #E67E22;
$blue: #0D6EFD;
$gray: #0E0000;
$light-gray: #eeeeee;
$white: #ffffff;

// Colors
$font: #333;

// Type
$sleep_color: #ffe894;
$sleep_color_darker: #D08900;
$eat_color: #b8deb6;
$eat_color_darker: #5baa55;
$care_color: #ffc9b1;
$care_color_darker: #E54E0B;
$emergency_color: #B1DAFF;
$emergency_color_darker: #3b83c3;
$urgent_color: #4B4B4B;
$urgent_color_darker: #333333;

// Buttons
$btn_primary: #57c098;
$btn_primary_darker: #36926f;
$btn_secondary: rgb(36, 36, 36);
$btn_danger: #d34f4f;
$btn_danger_darker: #b73c3c;
$btn_urgent: #4B4B4B;
$btn_urgent_darker: #222222;
