// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Type
$sleep_color: #ffefbc;
$eat_color: #bcffd0;
$care_color: #ffd3d0;

// Buttons
$btn_primary: #57c098;
$btn_secondary: rgb(36, 36, 36);
