// Specific CSS for your home-page
.top-section {
  // background: $light-gray;

  h2 {
    margin: 16px 0;
    font-weight: 700;
    font-size: 20px;
  }
}

.home-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 66px);
}

#map-home {
  position: absolute;
}

.services {
  position: absolute;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 10;
  bottom: 0;
  padding: 16px;
  background-color: white;
  width: 100%;
  height: 55vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}


.grid-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.service {
width: 100%;
height: 100px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 8px;

  p {
    margin: 0;
    display: block;
  }

  img {
    display: block;
    background: white;
    padding: 8px;
    border-radius: 50px;
    height: 48px;
    width: 48px;
    margin-bottom: 8px;
  }
}

.sleep {
  background: $sleep_color;
  grid-area: 1 / 1 / 2 / 2;
}

.eat {
  background: $eat_color;
  grid-area: 1 / 2 / 2 / 3;
}

.care {
  background: $care_color;
  grid-area: 2 / 1 / 3 / 2;
}

.emergency {
  background: $emergency_color;
  grid-area: 2 / 1 / 3 / 2;
}

.urgent {
  grid-area: 3 / 1 / 4 / 3;

  .btn {
    width: 100%;
  }
}
