.all-page {
  position: relative;
  background-color: $btn_primary_darker;
  height: 100vh;
  width: 100vw;
}

.welcome {
  padding: 50px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    color: white;
    text-align: center;
    font-size: 24px;
  }
  .logo {
    display: flex;
    height: 40px;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
  }
  img {
    width: 40px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(103%) contrast(102%);
  }
}

.radio-language {
  position: relative;
  margin:10px auto;
  padding:0;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  a {
    width: 100%;
    background-color: transparent;
    border:1px solid $light-gray;
  }
}
