<div class="all-page">
  <div class="welcome">
    <div class="logo">
      <%= image_tag "logo-fil.svg" %> fil
    </div>
    <%# <p><i class="fa fa-light fa-globe"></i></p> %>
    <% I18n.available_locales.each do |locale| %>
      <div class="radio-language">
        <%= link_to(I18n.t("general.#{locale.to_s}", locale: :fr),  {locale: locale}, class: "btn button-primary") %>
      </div>
    <% end %>
  </div>
</div>
