.card-sleep {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-sleep img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-sleep h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-sleep p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-sleep span {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-sleep .card-sleep-infos {
  padding: 16px;
}

#open {
  font-weight: bold;
  color: green
}

#close {
  font-weight: bold;
  color: red;
}
