.card-service {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 16px 0px;
  position: relative;
}


.card-service img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-service h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-service p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-service span {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-service .card-service-infos {
  padding: 16px;
}

#open {
  font-weight: bold;
  color: green
}

#close {
  font-weight: bold;
  color: red;
}

.status-yellow p {
  background: rgb(248, 230, 160);
  border-radius: 6px;
  color: rgb(182, 134, 2);
  text-align: center;
  padding: 2px 8px;
  display: inline;
}

.status-red{
  p {
    background: rgb(255, 184, 181);
    border-radius: 6px;
    color: rgb(182, 26, 26);
    text-align: center;
    padding: 2px 8px;
    display: inline;

  }
}

.status-green {
  p {
    background: rgb(202, 255, 181);
    border-radius: 6px;
    color: rgb(18, 141, 7);
    text-align: center;
    padding: 2px 8px;
    display: inline;
    margin-bottom: 16px;

  }
}

// Type tag

.card-service-type {
  padding: 4px 8px;
  border-radius: 4px;

  .sleep span  {
    background: $sleep_color;
    color: $sleep_color_darker;
  }

  .eat span {
    background: $eat_color;
    color: $eat_color_darker;
  }

  .care span {
    background: $care_color;
    color: $care_color_darker;
  }
}
