.card-service {
  overflow: hidden;
  height: 160px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 16px 0px;
  position: relative;
}


.card-service img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-service h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-service p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
}

.card-service span {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-service .card-service-infos {
  padding: 16px;

  p {
    margin-bottom: 16px;
  }

  // Type tag

  .card-service-type {
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 8px;
  }

  .sleep {
    background: $sleep_color;
    color: $sleep_color_darker;
  }

  .eat {
    background: $eat_color;
    color: $eat_color_darker;
  }

  .care {
    background: $care_color;
    color: $care_color_darker;
  }

  .emergency {
    background: $emergency_color;
    color: $emergency_color_darker;
  }
}

#open {
  font-weight: bold;
  color: $green;
  background: $green-25;
  padding: 4px 8px;
  border-radius: 8px;
}

#close {
  font-weight: bold;
  color: $red;
  background: $red-25;
  padding: 4px 8px;
  border-radius: 8px;
}

.status-yellow {
  p {
    font-weight: bold;
    color: $yellow;
    background: $yellow-25;
    padding: 4px 8px;
    border-radius: 8px;
    display: inline;
  }
}

.status-red {
  p {
    font-weight: bold;
    color: $red;
    background: $red-25;
    padding: 4px 8px;
    border-radius: 8px;
    display: inline;
  }
}

.status-green {
  p {
    font-weight: bold;
    color: $green;
    background: $green-25;
    padding: 4px 8px;
    border-radius: 8px;
    display: inline;
  }
}

.elements {

  i {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }

  .button-cancel-request {
    font-size: 12px;
    font-weight: bold;
    color: $red;
    background: $red-25;
    padding: 4px 8px;
    border-radius: 8px;
    display: inline;

    input[type=submit] {
      font-size: 12px;
      font-weight: bold;
      color: $red;
      border: none;
      background: #ffffff00;
      width: auto;
    }
  }

  .button-view-request {
    font-size: 12px;
    font-weight: bold;
    color: black;
    background: $light-gray;
    padding: 4px 8px;
    border-radius: 8px;
    display: inline;
  }


}
