.mapboxgl-popup-content {
  max-width: 200px;
}

.mapboxgl-popup-content {
  font-family: "Nunito", "Helvetica", "sans-serif";
  border-radius: 8px;
  outline: none;

  a {
    text-decoration: none;
    color: black;
  }

  img {
    width: 100%;
    margin-bottom: 8px;
    border-radius: 4px;
  }

  h2 {
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 0.8rem;
    opacity: 0.7;
  }
}

.mapboxgl-popup-close-button {
  margin: 4px;
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.75);

  :hover {
    color: rgba(255, 255, 255, 0.5);
  }
}
