.navbar-fil {
  justify-content: space-between;
  background: $white;
  border-bottom: 1px solid $light-gray;
}

.language {
  font-size: 16px;
  color: $font;
}
.navbar-fil .navbar-collapse {
  flex-grow: 0;
}

.navbar-fil .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  background-color: $light-gray;
  border-radius: 50px;
  border: none;
}
