.navbar-fil {
  justify-content: space-between;
  background: $white;
  border-bottom: 1px solid $light-gray;
  z-index: 1001;
}

.language {
  font-size: 16px;
  color: $font;
}
.navbar-fil .navbar-collapse {
  flex-grow: 0;
}

.navbar-fil .navbar-brand img {
  width: 60px;
}

.navbar-toggler {
  background-color: $light-gray;
  border-radius: 50px;
  border: none;
}

.navbar .globe-icon {
  height: 25px;
  width: 25px;
  margin-bottom: 1px;
}

.navbar .avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.navbar .info-user {
  display: flex;
  align-items: center;

  a {
    margin-left: 8px;
  }
}
